<footer role="contentinfo">
    <a class="logo" href="#top" title="Wunderline">
        <img src="{{ site.baseurl }}/assets/images/logo-wunderline-91x67.png" srcset="{{ site.baseurl }}/assets/images/logo-wunderline-182x134.png 2x" alt="Wunderline logo" />
    </a>

    <p>Powered by the Wunderlist <a href="https://developer.wunderlist.com/documentation">API</a>.</p>

    <p>Made by <a href="http://www.wearenext.co.za">Next</a> in Cape Town, South Africa.</p>

    <ol class="list">
        <li>
            <a href="mailto:{{ site.email }}" title="Email us">
                <span class="icon icon-envelope" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="http://github.com/{{ site.github_username }}" title="Follow us on GitHub">
                <span class="icon icon-github-alt" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="http://twitter.com/{{ site.twitter_username }}" title="Follow us on Twitter">
                <span class="icon icon-twitter" aria-hidden="true"></span>
            </a>
        </li>
    </ol>
</footer>
