<header role="banner">
    <a class="logo" href="{{ site.baseurl }}/">
        <img src="/assets/images/logo-wunderline-91x67.png" width="91" height="67" alt="Wunderline logo" />
    </a>

    <h1 class="strapline">Get stuff done with Wunderlist and your command line.&nbsp;&nbsp;&nbsp;|</h1>
</header>

<nav class="nav">
    <a class="logo" href="{{ site.baseurl }}/">
        <img src="/assets/images/logo-wunderline-48x35.png" width="48" height="35" alt="Wunderline logo" />
    </a>

    <div class="l-wrapper">
        <ol class="list">
            <li>
                <a href="#sync">Sync</a>
            </li><!--
            --><li>
                <a href="#add">Add</a>
            </li><!--
            --><li>
                <a href="#search">Search</a>
            </li><!--
            --><li>
                <a href="#export">Export</a>
            </li><!--
            --><li>
                <a href="#commands">Commands</a>
            </li><!--
            --><li>
                <a href="#faq">FAQ</a>
            </li>
        </ol>
    </div>

    <a class="btn" href="#">Get It Now</a>
</nav>
