/* -------------------------------------------------------------------------- *\
   #BUTTON
\* -------------------------------------------------------------------------- */

.btn {
    background-color: $color-red;
    border: 1px $color-red solid;
    color: $color-white;
    display: inline-block;
    line-height: 1;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.25s, color 0.25s;
    vertical-align: middle;
    white-space: nowrap;

    &:focus,
    &:hover {
        background-color: $color-white;
        color: $color-red;
    }

    /**
     * Hero
     */

    &.btn--hero {
        font-family: $font-secondary;
        text-transform: none;
    }
}

@media all and (min-width: $bp-small) {

    .btn {

        &.btn--hero {
            font-size: 1.125em; /* 18 / 16 */
            padding: 1em 1.5em;
        }
    }
}
