/* -------------------------------------------------------------------------- *\
   #FEATURE
\* -------------------------------------------------------------------------- */

.feature {
    margin-right: auto;
    margin-left: auto;
    max-width: 68.75em; /* 1100 / 16 */
    text-align: left;

    /**
     * Image
     */

    .feature__img {
        display: block;
        height: auto;
        margin-right: auto;
        margin-bottom: 2em;
        margin-left: auto;
        max-width: 100%;
    }

    /**
     * Icon
     */

    .feature__icon {
        margin-bottom: 1em;
    }

    /**
     * Title
     */

    .feature__title {

    }

    /**
     * Synopsis
     */

    .feature__synopsis {

    }
}

@media all and (min-width: $bp-medium) {

    .feature {
        padding-top: 5em;

        .feature__img {
            float: left;
            margin-top: -5em;
            margin-right: 3em;
            margin-bottom: 0;
        }
    }
}
