/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

header[role="banner"] {
    background-color: $color-black;
    color: $color-white;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;

    /**
     * Logo
     */

    .logo {
        display: inline-block;
        margin-bottom: 2em;
    }

    /**
     * Strapline
     */

    .strapline {
        margin-right: auto;
        margin-bottom: 0.75em;
        margin-left: auto;
        max-width: 920px;
        width: 90%;

        /**
         * Heading
         */

        .hN {
            font-family: $font-secondary;
            font-size: $h3-font-size;
            line-height: 1.7;
        }

        /**
         * Cursor
         */

        .typed-cursor {
            font-size: $h3-font-size;
            opacity: 1;
            -webkit-animation: blink 1s step-end infinite;
            -moz-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;

            @keyframes blink {

                from, to {
                    color: transparent;
                }

                50% {
                    color: $color-white;
                }
            }
        }
    }

    /**
     * Button
     */

    .btn {
        margin-top: 1em;
    }
}

@media all and (min-width: $bp-small) {

    header[role="banner"] {

        .logo {
            margin-bottom: 4em;
        }

        .strapline {
            margin-bottom: 1.5em;
            min-height: 10.125em; /* 162 / 16 */

            .hN {
                font-size: $h1-font-size;
            }

            .typed-cursor {
                font-size: $h1-font-size;
            }
        }
    }
}

@media all and (min-height: $bp-small) {

    header[role="banner"] {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
