/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

header[role="banner"] {
    background-color: $color-black;
    color: $color-white;
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;

    /**
     * Strapline
     */

    .strapline {
        line-height: 1.7;
        margin-right: auto;
        margin-left: auto;
        max-width: 860px;
    }

    /**
     * Logo
     */

    .logo {
        display: inline-block;
        margin-bottom: 3em;
    }
}
