/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *\
   TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * WRAPPER
 */





/* -------------------------------------------------------------------------- *\
   #WRAPPER
\* -------------------------------------------------------------------------- */

.l-wrapper {
    @include clearfix();
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 90%;
}
