/* -------------------------------------------------------------------------- *\
   #NAV
\* -------------------------------------------------------------------------- */

.nav {
    display: none;
}

@media all and (min-width: $bp-medium) {

    .nav {
        border-bottom: 1px solid $color-silver;
        @include clearfix();
        display: block;

        /**
         * Logo
         */

        .logo {
            display: block;
            float: left;
            padding-top: 0.75em;
            padding-left: 1em;
            width: 10%;
        }

        /**
         * Wrapper
         */

        .l-wrapper {
            float: left;
            width: 80%;
        }

        /**
         * List
         */

        .list {
            @include clearfix();
            margin-left: 1em;

            li {
                border-right: 1px solid $color-silver;
                display: inline-block;
                max-width: 8.75em; /* 140 / 16 */
                width: 15%;

                &:first-child {
                    border-left: 1px solid $color-silver;
                }
            }

            a {
                color: $color-black;
                display: block;
                padding-top: 1em;
                padding-bottom: 1em;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition: background-color 0.25s, color 0.25s;

                &:focus,
                &:hover {
                    background-color: $color-blue;
                    color: $color-white;
                }
            }
        }

        /**
         * Button
         */

        .btn {
            float: right;
            padding-right: 1em;
            width: 10%;
        }
    }
}
