/* -------------------------------------------------------------------------- *\
   #NAV
\* -------------------------------------------------------------------------- */

.nav {
    display: none;
}

@media all and (min-width: $bp-medium) {

    .nav {
        background-color: $color-white;
        border-bottom: 1px solid $color-silver;
        display: block;
        position: relative;

        &.is-fixed {
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: $z-index-nav;
        }

        /**
         * Logo
         */

        .logo {
            display: inline-block;
            left: 1em;
            position: absolute;
            top: 0.75em;
        }

        /**
         * Wrapper
         */

        .l-wrapper {
            width: 80%;
        }

        /**
         * List
         */

        .list {
            margin-left: 1em;

            li {
                border-right: 1px solid $color-silver;
                display: inline-block;
                max-width: 8.75em; /* 140 / 16 */
                width: 15%;

                &:first-child {
                    border-left: 1px solid $color-silver;
                }
            }

            a {
                color: $color-black;
                display: block;
                padding-top: 1em;
                padding-bottom: 1em;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition: background-color 0.25s, color 0.25s;

                &:focus,
                &:hover {
                    background-color: $color-blue;
                    color: $color-white;
                }
            }
        }

        /**
         * Button
         */

        .btn {
            display: inline-block;
            position: absolute;
            right: 1em;
            top: 0.6875em;
        }
    }
}
