/* -------------------------------------------------------------------------- *\
   #SECTION
\* -------------------------------------------------------------------------- */

section {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

    &:nth-child(odd) {
        background-color: $color-white-dark;
    }
}
