/* -------------------------------------------------------------------------- *\
   #SECTION
\* -------------------------------------------------------------------------- */

.section {
    border-bottom: 1px solid $color-silver;
    padding-top: 10%;
    padding-bottom: 10%;

    &:nth-child(even) {
        background-color: $color-white-dark;
    }
}
