/* -------------------------------------------------------------------------- *\
   #TERMINAL
\* -------------------------------------------------------------------------- */

.terminal {
    background-color: $color-black;
    border-radius: 3px;
    overflow: hidden;

    /**
     * Toolbar
     */

    .terminal__toolbar {
        background-color: ($color-black, 5%);
        height: 1.5em;
    }

    /**
     * Image
     */

    img {
        height: auto;
        max-width: 100%;
    }
}
