/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 * COLORS
 * FONTS
 * .....Family
 * .....Size
 * .....Weight
 */





/* -------------------------------------------------------------------------- *\
   #BREAKPOINTS
\* -------------------------------------------------------------------------- */

$bp-small:  46.25em; /*  46.25 x 16 =  740px */
$bp-medium: 61.25em; /*  61.25 x 16 =  980px */
$bp-large:  75.00em; /*  75.00 x 16 = 1200px */
$bp-xl:     87.50em; /*  87.50 x 16 = 1400px */





/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

/**
 * Primary
 */

$color-red: #cb463a;

/**
 * Grayscale
 */

$color-black:  #000;
$color-white:  #fff;





/* -------------------------------------------------------------------------- *\
   #FONTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $Family
   ========================================================================== */

$font:           "Lato", serif;
$font-secondary: "Monaco", sans-serif;

.font-secondary {
    font-family: $font-secondary;
}





/* ==========================================================================
   $Size
   ========================================================================== */

/**
 * Headings
 */

$h1-font-size: 3.0000em; /* 48 / 16 */
$h2-font-size: 2.2500em; /* 36 / 16 */
$h3-font-size: 1.5000em; /* 24 / 16 */
$h4-font-size: 1.3125em; /* 21 / 16 */
$h5-font-size: 1.1250em; /* 18 / 16 */
$h6-font-size: 1.0000em; /* 16 / 16 */





/* ==========================================================================
   $Weight
   ========================================================================== */

$weight-bold:      700;
$weight-semi-bold: 600;
$weight-normal:    400;
