/* -------------------------------------------------------------------------- *\
   #HEADINGS
\* -------------------------------------------------------------------------- */

@mixin heading($font-size) {
    font-family: $font;
    font-size: $font-size;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1, .alpha {
    @include heading($h1-font-size);
    font-weight: $weight-light;
}

h2, .beta {
    @include heading($h2-font-size);
    font-weight: $weight-light;
}

h3, .gamma {
    @include heading($h3-font-size);
    font-weight: $weight-light;
}

h4, .delta {
    @include heading($h4-font-size);
    font-weight: $weight-normal;
}

h5, .epsilon {
    @include heading($h5-font-size);
    font-weight: $weight-normal;
}

h6, .zeta {
    @include heading($h6-font-size);
    font-weight: $weight-normal;
}
