/**
 * UTILITIES
 */

/* -------------------------------------------------------------------------- *\
   TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * DISPLAY
 * .....Hidden
 * .....Invisible
 * .....Visibility
 * FLOATS
 */





/* -------------------------------------------------------------------------- *\
   $DISPLAY
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   $Hidden
   ========================================================================== */

/**
 * Hide visually and from screen readers:
 */

.u-hidden {
    display: none !important;
}

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Extends the .u-visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}





/* ==========================================================================
   $Invisible
   ========================================================================== */

/**
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible { visibility: hidden !important; }





/* ==========================================================================
   $Visibility
   ========================================================================== */

/**
 * Small Screens
 */

@media all and (max-width: $bp-small) {

    .u-hide--small {
        display: none !important;
    }
}

/**
 * Medium Screens
 */

@media all and (min-width: $bp-small) and (max-width: $bp-large) {

    .u-hide--medium {
        display: none !important;
    }
}

/**
 * Large Screens
 */

@media all and (min-width: $bp-large) {

    .u-hide--large {
        display: none !important;
    }
}





/* -------------------------------------------------------------------------- *\
   #FLOATS
\* -------------------------------------------------------------------------- */

@media all and (min-width: $bp-small) {

    /**
     * Pull Right
     */

    .u-pull--right {
        float: right !important;
    }

    /**
     * Pull Left
     */

    .u-pull--left  {
        float: left !important;
    }
}
